# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java bsu labs\chapter-11-part-B\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
